*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

header {
  background-color: darkcyan;

}

header>ul {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

li {
  margin: 10px;
  list-style-type: none;
}

li>a {
  color: aliceblue;
}

body {
  background-color: cadetblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  margin: 5px;
  background-color: darkcyan;
  color: aliceblue;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border: 1px solid blue;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}